[Unit]
Description=Simple Message Queue Service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=SimpleMessageQueue
Restart=on-failure
ExecStart=/usr/bin/python3 /usr/local/lib/python3.8/dist-packages/SimpleMessageQueue/SimpleMessageQueue.py
