[Unit]
Description=Simple Message Queue Service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=SimpleMessageQueue
Restart=on-failure
ExecStart=/usr/local/pipx/venvs/simplemessagequeue/bin/SMQ_Server --hostname localhost --port 6050 --start_server
StandardError=append:/var/log/SimpleMessageQueue.log
